<!DOCTYPE html>
<html>
<%- include('head',{title:title})%>
<link rel="stylesheet" href="stylesheets/jquery.timepicker.min.css">
<script type="text/javascript" src="javascripts/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="javascripts/control.js"></script>
<body>



<style>
    .outer-control-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .control-list{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .panel-container{
        width:90%;
    }

    .control-title{
        color:#555;
        font-size:18px;
        font-weight: 400;
        margin-top: 30px;
    }

    .container{
        width:80%;
    }

    .outer-panel{
        margin: 50px;
    }

</style>

<div class="container">
    <div class="page-header">
        <h1><%= title%> <small>欢迎，<%= user%>! <span><a href="/login?logout=true" style="font-size:14px;">注销</a></span></small></h1>
    </div>

    <% for(var i=0;i<data.length;i++){%>
    <div class="panel panel-default outer-panel">
        <div class="panel-heading">
            <h3 class="panel-title"><%= data[i].room%>
                <% if(data[i].state){%>
                <span class="state label label-success" style="margin: 10px;" >已打开</span>
                <%}else{%>
                <span class="state label label-default" style="margin: 10px;" >已关闭</span>
                <% } %>
            </h3>
        </div>

        <div class="panel-body control-list">
            <div class="panel-container">

                    <h2 class="control-title">控制</h2>
                <p class="split-line"></p>
                <% if(data[i].state){%>
                    <div class="btn-group btn-group-lg" role="group" aria-label="...">
                        <button type="button" class="btn btn-danger">全部关闭</button>
                    </div>
                <% }else{%>
                    <div class="btn-group btn-group-lg" role="group" aria-label="...">
                        <button type="button" class="btn btn-success">全部打开</button>
                    </div>
                <% } %>

                    <div >
                        <h2 class="control-title">定时控制</h2>
                        <p class="split-line"></p>
                        <div class="row">
                            <div class="col-md-5 control-list">
                            <div class="col-xs-4">设置时间</div>
                            <div class="input-group  col-xs-8">
                                <input id="timepicker<%= i%>" type="text" class="form-control input-small" >
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                        </div>

                            <div class="btn-group col-md-4" role="group" aria-label="...">
                            <button type="button" class="btn btn-default">
                                <span>定时开</span>
                            </button>
                            <button type="button" class="btn btn-default">
                                <span>定时关</span>
                            </button>
                        </div>
                        </div>
                    </div>

                <h2 class="control-title">独立控制</h2>
                <p class="split-line"></p>
                <div class="outer-control-list">
                    <% var curtains = data[i].curtain %>
                    <% for(j=0;j<curtains.length;j++){%>

                    <div class="control-panel panel panel-default ">
                        <div class="panel-heading panel-title"><%= curtains[j].name%></div>
                        <div class="panel-body">
                            当前：
                            <%if(curtains[j].state){%>
                            <span class="state label label-success" style="margin: 10px;" >已打开</span>
                            <button type="button" class="btn btn-default">关闭</button>
                            <%}else{%>
                            <span class="state label label-default" style="margin: 10px;" >已关闭</span>
                            <button type="button" class="btn btn-default">打开</button>
                            <% } %>

                        </div>
                        <div class="control-list">
                            <div class="btn-group " role="group" aria-label="...">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span>向左</span>
                                </button>
                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span></button>
                                <button type="button" class="btn btn-default">
                                    <span>向右</span>
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <% } %>

                </div>
            </div>



            </div>


    </div>
    <% } %>
</div>

<script>
    <% for(var i=0;i<data.length;i++){%>
    $('#timepicker<%= i %>').timepicker();
    <% } %>
</script>


<footer>
    <%- include('footer');%>
</footer>
</body>
</html>